@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.sub-menu {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  color: #0c2957;
  text-align: center;
  height: 100%;
  font-size: 14px;
}

.hero-section {
  position: relative;
  width: 100%;
  background-image: url("./assets/images/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.partner-section {
  position: relative;
  width: 100%;
  background-image: url("./assets/images/mayin1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-about {
  background-image: url("./assets/images/bg-section.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-section,
  .partner-section {
    background-attachment: unset;
  }
}
