@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  /* background-color: #dfdff0; */
  font-family: "Roboto", sans-serif;
}

.sub-menu {
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.sub-menu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transition: 0.3s;
}

.sub-menu:hover::after,
.sub-menu.active::after {
  width: 90%;
}